* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Abel", sans-serif;
}

header * {
  color: #fff;
  letter-spacing: 0.05rem;
}

h1 {
  font-family: "Lobster", cursive;
}

.grid-container {
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-areas: "header" "nav" "main";
}

h1 {
  font-size: 2rem;
  flex-grow: 2;
  margin: auto 5%;
}

h2 {
  width: 30%;
  margin: auto 0 auto 2.5%;
  font-size: 1.17rem;
  font-weight: bold;
}

h3, legend {
  font-size: 1.17rem;
  font-weight: bold;
  width: 95%;
  margin: 0 auto 1rem auto;
}

header {
  position: relative;
  background-color: #6756a7;
  height: 3.75rem;
  display: flex;
  flex-direction: row;
  grid-area: header;
  justify-content: space-between;
}

.student-name {
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto 0 auto 2%;
}
.student-name h3 {
  font-weight: 100;
  font-size: 1.3rem;
  padding: 0 0.75rem;
  margin: auto 0;
}

.student-name img {
  border: #462e6d 2px solid;
  border-radius: 50%;
  width: 2.8125rem;
  height: 2.8125rem;
  margin: auto 0;
}

.notifications {
  z-index: 3;
  width: 1.75rem;
  height: 1.75rem;
  margin: auto 0;
  fill: white;
  transition: 0.5s;
  cursor: pointer;
}

.notifications:hover {
  fill: #c4c4c4;
  transition: 0.2s ease-in-out;
  transform: scale(1.05);
}

.clickoff {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.notifications-dropdown {
  z-index: 2;
  display: none;
  flex-direction: column;
  width: 75%;
  position: absolute;
  top: 3.75rem;
  left: 22.5%;
  background-color: white;
  border: #6756a7 1px solid;
  border-radius: 0.25rem;
  transition: 0.5s ease;
}
.notifications-dropdown h3 {
  text-align: center;
  margin: 0.25rem auto;
}
.notifications-dropdown p {
  font-size: 1.1rem;
  margin: 0.25rem 0 0.25rem 0;
  padding-bottom: 0.125rem;
}
.notifications-dropdown .close-alert {
  margin-left: 0.5rem;
}

.notification {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 0.05rem gray solid;
}

.notification:last-of-type {
  border-bottom: none;
}

.close-alert {
  cursor: pointer;
}

nav {
  background-color: #462e6d;
  display: flex;
  flex-direction: row;
  grid-area: nav;
  justify-content: space-evenly;
}

nav svg {
  height: 2rem;
  width: 2rem;
  margin: 0.625rem auto;
  fill: white;
}

nav svg:hover {
  fill: #c4c4c4;
  transition: 0.2s ease-in-out;
  transform: scale(1.05);
}

#dashboard-search {
  text-indent: 0.625rem;
  font-size: 1.05rem;
  background-color: #e9e9e9;
  border: grey 0.0625rem solid;
  border-top: none;
  border-radius: 0 0 0 0.25rem;
  height: 3.125rem;
  width: 70%;
}

.main-header {
  display: flex;
  flex-direction: row;
}

.alert-banner {
  width: 95%;
  background-color: #462e6d;
  border-radius: 5px;
  color: #fff;
  margin: 0.5rem auto;
  padding: 0.75rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.alert-banner p {
  padding: 0 0.9375rem;
}
.alert-banner p:last-of-type {
  cursor: pointer;
}

main {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-area: main;
  grid-template-columns: 100%;
  grid-template-areas: "main-header" "alert" "traffic" "daily-traffic" "mobile-users" "social-stats" "new-members" "recent-activity" "message-user" "settings";
}

.widget {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: 1px grey solid;
}

canvas {
  max-width: 95%;
  min-width: 95%;
  margin: auto auto;
}

.traffic-nav {
  width: 100%;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.traffic-nav li {
  cursor: pointer;
  background-color: #78cf82;
  margin: 0.5rem;
  padding: 0.5rem 0.8rem;
  border-radius: 1em;
}

.social-tabs {
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 95%;
}

.facebook,
.instagram,
.twitter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0.75rem 0.75rem;
  margin: 0.25rem auto;
  border: grey 1px solid;
  border-radius: 0.5rem;
  width: 90%;
}
.facebook p,
.instagram p,
.twitter p {
  font-size: 2.25rem;
}

.facebook div,
.instagram div,
.twitter div {
  flex-direction: column;
  margin-left: 1rem;
}
.facebook div h4,
.instagram div h4,
.twitter div h4 {
  color: #6756a7;
}

.social-svg {
  height: 3rem;
  width: 3rem;
  fill: #6756a7;
}

.member-card,
.activity-card {
  width: 95%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem auto 0 auto;
  padding-bottom: 1rem;
  border-bottom: grey 1px solid;
}
.member-card img,
.activity-card img {
  margin: 0.5rem auto;
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.member-card:last-of-type,
.activity-card:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}

#message-user {
  min-height: 7.25rem;
  padding-top: 0.825rem;
}

#user-search,
#message-user,
select,
#send {
  font: inherit;
  height: 3.5rem;
  width: 90%;
  margin: 0.5rem auto;
  border: grey 1px solid;
  border-radius: 0.25rem;
  font-size: 1.05rem;
}

#send {
  cursor: pointer;
  background-color: #6756a7;
}

#user-search,
#message-user,
select {
  text-indent: 0.625rem;
}

.settings div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem auto 0 auto;
  width: 90%;
}

.switch-label {
  margin: auto 0;
  font-size: 1.17rem;
  cursor: pointer;
}

select {
  margin-top: 1rem;
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 2rem;
  background-color: lightslategrey;
  border: 0.125rem #bbbbbb solid;
  border-radius: 2.0625rem;
  text-align: right;
  color: white;
  cursor: pointer;
}
.switch p {
  margin-top: 0.34rem;
  margin-right: 0.3rem;
}

#email-checkbox,
#privacy-checkbox {
  display: none;
}

.switch::after {
  content: "";
  position: absolute;
  width: 1.525rem;
  height: 1.525rem;
  border: 0.125rem #bbbbbb solid;
  border-radius: 50%;
  background-color: white;
  top: 0.1rem;
  left: 0.1rem;
  transition: all 0.4s;
}

#email-checkbox:checked + .switch::after,
#privacy-checkbox:checked + .switch::after {
  left: 4.125rem;
}

#email-checkbox:checked + .switch,
#privacy-checkbox:checked + .switch {
  background-color: #6756a7;
}
#email-checkbox:checked + .switch p,
#privacy-checkbox:checked + .switch p {
  text-align: left;
  margin-left: 0.3rem;
  transition: 0.4s;
}

#save,
#cancel {
  height: 3.5rem;
  width: 45%;
  margin: 0.5rem 0;
  border: grey 1px solid;
  border-radius: 0.25rem;
  font-size: 1.05rem;
  cursor: pointer;
}

#save {
  background-color: #6756a7;
}

.main-header {
  grid-area: main-header;
}

#alert {
  grid-area: alert;
}

.traffic {
  grid-area: traffic;
}

.daily-traffic {
  grid-area: daily-traffic;
}

.mobile-users {
  grid-area: mobile-users;
}

.social-stats {
  grid-area: social-stats;
}

.new-members {
  grid-area: new-members;
}

.recent-activity {
  grid-area: recent-activity;
}

.message-user {
  grid-area: message-user;
}

.settings {
  grid-area: settings;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 2.875rem calc(100% - 2.875rem);
    grid-template-areas: "header header" "nav main";
  }

  nav {
    flex-direction: column;
    justify-content: flex-start;
  }

  main {
    grid-template-columns: 50% 50%;
    grid-template-areas: "main-header main-header" "alert alert" "traffic traffic" "daily-traffic mobile-users" "social-stats social-stats" "new-members new-members" "recent-activity recent-activity" "message-user message-user" "settings settings";
  }

  nav svg {
    margin-left: 0.4375rem;
  }

  .daily-traffic {
    border-right: 1px grey solid;
  }

  .daily-traffic h3,
.daily-traffic canvas,
.mobile-users h3,
.mobile-users canvas {
    width: 89.97%;
  }

  .social-tabs {
    flex-direction: row;
  }

  .facebook,
.instagram,
.twitter {
    width: 28.5%;
  }

  #settings legend {
    margin-bottom: auto;
  }
}
@media (min-width: 1024px) {
  main {
    grid-template-columns: 50% 50%;
    grid-template-areas: "main-header main-header" "alert alert" "traffic traffic" "daily-traffic mobile-users" "social-stats social-stats" "new-members recent-activity" "message-user settings";
  }

  .recent-activity {
    border-left: 1px grey solid;
  }

  .member-card,
.activity-card {
    flex-direction: row;
  }
  .member-card div,
.activity-card div {
    width: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
  }

  #settings {
    border-left: 1px grey solid;
    justify-content: flex-end;
  }
}

/*# sourceMappingURL=styles.css.map */
