* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Abel", sans-serif;
}

header * {
  color: #fff;
  letter-spacing: 0.05rem;
}

h1 {
  font-family: "Lobster", cursive;
}

.grid-container {
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-areas: "header" "nav" "main";
}

header {
  background-color: #6756a7;
  height: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  grid-area: header;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h1 {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  margin: auto 5%;
}

.student-name {
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto 0 auto 2%;
}
.student-name h3 {
  font-weight: 100;
  font-size: 1.3rem;
  padding: 0 0.75rem;
  margin: auto 0;
}

.student-name img {
  border: #462e6d 2px solid;
  border-radius: 50%;
  width: 2.8125rem;
  height: 2.8125rem;
  margin: auto 0;
}

.notifications {
  width: 1.75rem;
  height: 1.75rem;
  margin: auto 0;
}

nav {
  background-color: #462e6d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  grid-area: nav;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav svg {
  height: 2rem;
  width: 2rem;
  margin: 0.625rem auto;
  fill: white;
}

#dashboard-search {
  text-indent: 0.625rem;
  font-size: 1.05rem;
  background-color: #e9e9e9;
  border: grey 0.0625rem solid;
  border-top: none;
  border-radius: 0 0 0 0.25rem;
  height: 3.125rem;
  width: 70%;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.main-header h2 {
  width: 30%;
  margin: auto 0;
}

.alert-banner {
  width: 95%;
  background-color: #462e6d;
  border-radius: 5px;
  color: #fff;
  margin: 0.5rem auto;
  padding: 0.75rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.alert-banner p {
  padding: 0 0.9375rem;
}

main {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-area: main;
  grid-template-columns: 100%;
  grid-template-areas: "main-header" "alert" "traffic" "daily-traffic" "mobile-users" "social-stats" "new-members" "recent-activity" "message-user" "settings";
}

.widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px grey solid;
  width: 95%;
  margin: 1rem auto 0 auto;
}
.widget h3 {
  width: 100%;
}

.traffic-nav {
  width: 100%;
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.facebook,
.instagram,
.twitter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0.75rem 0.75rem;
  margin: 0.25rem 0;
  border: grey 1px solid;
  border-radius: 0.5rem;
}
.facebook p,
.instagram p,
.twitter p {
  font-size: 2.25rem;
}

.facebook div,
.instagram div,
.twitter div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1rem;
}
.facebook div h4,
.instagram div h4,
.twitter div h4 {
  color: #6756a7;
}

.social-svg {
  height: 3rem;
  width: 3rem;
}

.main-header {
  grid-area: main-header;
}

.alert {
  grid-area: alert;
}

.traffic {
  grid-area: traffic;
}

.daily-traffic {
  grid-area: daily-traffic;
}

.mobile-users {
  grid-area: mobile-users;
}

.social-stats {
  grid-area: social-stats;
}

.new-members {
  grid-area: new-members;
}

.recent-activity {
  grid-area: recent-activity;
}

.message-user {
  grid-area: message-user;
}

.settings {
  grid-area: settings;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 7.5% 92.5%;
    grid-template-areas: "header header" "nav main";
  }

  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (min-width: 1024px) {
  main {
    grid-template-columns: 50%;
    grid-template-areas: "main-header main-header" "alert alert" "traffic traffic" "traffic users" "social social" "stats stats" "new-members activity" "message-form settings";
  }
}
/*# sourceMappingURL=styles.css.map */