.grid-container{
    margin: 0;
    display: grid;
    grid-template-areas: "header"
                         "nav"
                         "main";
}

// -------------------------------
// header elements
// -------------------------------

header{
    background-color: rgb(103, 86, 167);
    display: flex;
    flex-direction: row;
    grid-area: header;
    justify-content: flex-end;
}

h1{
    margin: auto auto auto 5%;
}

.student-name{
    display: flex;
    flex-direction: row;
    margin: auto 5% auto 2%;
}

.student-name img{
    border:rgb(70, 46, 109) 2px solid;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin: auto 5%;
}

.notifications{
    width: 30px;
    height: 30px;
    margin: auto 2% 2% auto;
}

// -------------------------------
// nav elements
// -------------------------------

nav{
    background-color: rgb(70, 46, 109);
    display: flex;
    flex-direction: row;
    grid-area: nav;
    justify-content: space-evenly;
}

nav svg{
    height: 45px;
    width: 45px;
    margin-top: 2%;
    margin-bottom: 2%;
}
// -------------------------------
// main elements
// -------------------------------

.main-header{
    display: flex;
    flex-direction: row;
}

.main-header h2{
    text-align: center;
    width:30%;
    margin: auto 2%;
}

.main-header-search{
    width: 70%;
    & input{
        width:100%;
        height: 100%;
    }
}

main{
    display: grid;
    grid-area: main;
    grid-template-columns: 100%;
    grid-template-areas:"main-header"
                        "alert"
                        "traffic"
                        "daily-traffic"
                        "mobile-users"
                        "social-stats"
                        "new-members"
                        "recent-activity"
                        "message-user"
                        "settings";
}

