.grid-container{
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-areas: "header"
                         "nav"
                         "main";
}

h1{
    font-size: 2rem;
    flex-grow: 2;
    margin: auto 5%;
}

h2{
    width:30%;
    margin: auto 0 auto 2.5%; 
}

h2, h3, legend{
    font-size: 1.17rem;
    font-weight: bold;
    width: 100%;
    } 

// -------------------------------
// header elements
// -------------------------------

header{
    position:relative;
    background-color: rgb(103, 86, 167);
    height: 3.75rem;
    display: flex;
    flex-direction: row;
    grid-area: header;
    justify-content:space-between;
}

.student-name{
    font-size: .8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto 0 auto 2%;
        & h3{
        font-weight:100;
        font-size: 1.3rem;
        padding: 0 .75rem;
        margin: auto 0;
        }
}

.student-name img{
    border:rgb(70, 46, 109) 2px solid;
    border-radius: 50%;
    width: 2.8125rem;
    height: 2.8125rem;
    margin: auto 0;
}

.notifications{
    width: 1.75rem;
    height: 1.75rem;
    margin: auto 0;
    fill:white;
    transition: .5s;
}

.notifications:hover{
    fill:(rgb(196, 196, 196));
    transition: .2s ease-in-out;
    transform: scale(1.05);
}

// -------------------------------
// general concept from this page
// https://www.w3schools.com/howto/howto_js_dropdown.asp
// -------------------------------

.notifications-dropdown{
    display:none;
    // display:flex;
    flex-direction: column;
    width: 60%;
    position:absolute;
    top:3.75rem;
    left: 37.5%;
    background-color: white;
    border: rgb(103, 86, 167) 1px solid;
    border-radius: .25rem;
    transition: .5s ease;
    & h3{
        text-align: center;
        margin: .25rem auto;
    }
    & p{
        font-size:1.1rem;
        margin: .25rem 0 .25rem 0;
        padding-bottom: .125rem;
    }
}

.notification{
    width:95%;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: .05rem gray solid;
}

.notification:last-of-type{
    border-bottom: none;
}


// -------------------------------
// nav elements
// -------------------------------

nav{
    background-color: rgb(70, 46, 109);
    display: flex;
    flex-direction: row;
    grid-area: nav;
    justify-content: space-evenly;
}

nav svg{
    height: 2rem;
    width: 2rem;
    margin: .625rem auto;
    fill: white;
}

nav svg:hover{
    fill:(rgb(196, 196, 196));
    transition: .2s ease-in-out;
    transform: scale(1.05);
}

// -------------------------------
// dashboard elements
// -------------------------------

#dashboard-search{
    text-indent: .625rem;
    font-size: 1.05rem;
    background-color: rgb(233, 233, 233);
    border: grey .0625rem solid;
    border-top: none;
    border-radius: 0 0 0 .25rem;
    height: 3.125rem;
    width: 70%;
}


// -------------------------------
// main elements
// -------------------------------

.main-header{
    display: flex;
    flex-direction: row;
}

.alert-banner{
    width: 95%;
    background-color:rgb(70, 46, 109) ;
    border-radius: 5px;
    color: #fff;
    margin: .5rem auto;
    padding: .75rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & p{
        padding:0 0.9375rem;
    }
}



main{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-area: main;
    grid-template-columns: 100%;
    grid-template-areas:"main-header"
                        "alert"
                        "traffic"
                        "daily-traffic"
                        "mobile-users"
                        "social-stats"
                        "new-members"
                        "recent-activity"
                        "message-user"
                        "settings";
}

