@media (min-width: 768px) {

    .grid-container{
        grid-template-columns: 2.875rem calc(100% - 2.875rem);
        grid-template-areas: "header header"
                             "nav main";
    }

    nav{
        flex-direction: column;
        justify-content: flex-start;
    }    

    main{
        grid-template-columns: 50% 50%;
        grid-template-areas: "main-header main-header"
                             "alert alert"
                             "traffic traffic"
                             "daily-traffic mobile-users"
                             "social-stats social-stats"
                             "new-members new-members"
                             "recent-activity recent-activity"
                             "message-user message-user"
                             "settings settings";
    }

    nav svg{
        margin-left: .4375rem;
    }

    .daily-traffic{
        border-right: 1px grey solid;
    }

    .daily-traffic,
    .mobile-users{
        width: 90%;
        padding: 1rem 5%;
    }

    .member-card,
    .activity-card{
        flex-direction: row;
        & div{
            width: 75%;
            display:flex;
            justify-content: center;
            flex-direction: column;
            text-align: left;
            }
    }

    .social-tabs{
        flex-direction: row;
        justify-content: space-between;
    }

    .facebook,
    .instagram,
    .twitter{
        width: 28.5%;
    }

    #settings h3{
        margin-bottom: auto;
    }
}

@media (min-width: 1024px) {

    *{
        font-size: 1.25rem;
    }

    main{
        grid-template-columns: 50% 50%;
        grid-template-areas:"main-header main-header"
                            "alert alert"
                            "traffic traffic"
                             "daily-traffic mobile-users"
                             "social-stats social-stats"
                             "new-members recent-activity"
                             "message-user settings";
    }

    .traffic-nav-link{
        width: 12.5%;
    }

    .recent-activity{
        border-left:1px grey solid;
    }

    

    

    #settings{
        border-left: 1px grey solid;
        justify-content: flex-end;
    }

    .recent-activity,
    #members,
    #settings,
    .message-user{
        width: 90%;
        padding: 1rem 5%;
    }

}
