@media (min-width: 768px) {

    .grid-container{
        grid-template-columns: 7.5% 92.5%;
        grid-template-areas: "header header"
                             "nav main";
    }

    nav{
        flex-direction: column;
        justify-content: flex-start;
    }    
}

@media (min-width: 1024px) {

    main{
        grid-template-columns: 50%;
        grid-template-areas:"main-header main-header"
                            "alert alert"
                            "traffic traffic"
                             "traffic users"
                             "social social"
                             "stats stats"
                             "new-members activity"
                             "message-form settings";
    }
}
